services:
  app:
    build: .
    ports:
      - "5001:5001"
    depends_on:
      - redis
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes # Включаем сохранение на диск

volumes:
  redis_data: